@font-face {
  font-family: 'Blacker';
  src: url('blacker-sans-display-trial.light.ttf') format('truetype');
}

body {
  background: linear-gradient(135deg, #2e0152f6, #06023d);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  color: white;
  text-align: center;
  font-family: 'Blacker', sans-serif;
  font-weight: normal;
}

.texto {
  position: relative;
  top: 50%;
  left: 5%;
}

#h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#h2 {
  font-size: 1.5em;
  text-align: left;
  margin-left: 5%;
}

h3 {
  color: white;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  text-align: center;
}

.fechar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fechar:hover,
.fechar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
button {
  margin-bottom: 10px;
  padding: 5px;
}

input {
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  color: white;
  border-radius: 10px;
}

/* BOTÕES */
#abrirModal {
  font-family: 'Blacker', sans-serif;
  background: linear-gradient(to left, rgb(92, 12, 102), #2296e4);
  letter-spacing: 3px;
  display: flex;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 1.8em;
  border-radius: 15px;
  border-color: transparent;
  transition: border-color 0.3s, background-color 0.3s;
}

#abrirModal:hover {
  background: transparent;
  border-color: #8C52FF;
}

#entrarModal {
  margin: auto;
  padding: 10px;
  width: 45%;
  background: linear-gradient(to left, rgb(92, 12, 102), #2296e4);
  border-radius: 10px;
  color: white;
  border-width: 1px;
  border-color: none;
  font-size: 1em;
}

#entrarModal:hover {
  background: transparent;
  border-width: 1px;
  border-color: white;
  transition: 1s;
}

/* LINK PARA CADASTRAR */
a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
}

/* RESPONSIVIDADE */
@media (max-width:800px) {
  .modal {
    background: linear-gradient(135deg, #2e0152f6, #06023d);
    width: 80%;
    height: auto;
    margin-top: 10%;
  }

  .modal-content {
    width: 70%;
    height: auto;
  }

  .modal-content input {
    margin-top: 10%;
    width: 80%;
  }

  #h1 {
    font-size: 2em;
  }

  #h2 {
    font-size: 1.2em;
    margin-left: 0;
    text-align: center;
  }
  .content{
    width: 60%;
    height: auto;
  }

}
